.container-fluid{
    text-align: center;
    text-size-adjust: 80px;
}

.nav-links {
    display: flex; 
    justify-content: space-between; 
    list-style: none; 
    align-items: center; 
    padding: 50px; 
    margin: 0; 
    border-bottom: 1px solid #100f0f;
}

.nav-links li {
    margin: 0 15px;
    color: black;
}

#btnn{
    padding: auto;
    padding-right: 10%;
}